kind: Secret
apiVersion: v1
metadata:
  name: pull-secret
  namespace: openshift-config
data:
  .dockerconfigjson: >-
    {{ lookup('file', '.dockerconfigjson') | b64encode }}
type: kubernetes.io/dockerconfigjson